body {
    width: 90%;
    height: 850px;
}

#main {
    background-color: black;
    opacity: .8;
    width: 500px;
    height: 800px;
    margin-top: 65px;
    margin-left: auto;
    margin-right: auto;
    padding: 25px;
}

header {
    color: gold;
}

h2 {
    text-align: right;
}

p {
    background-color: azure;
    height: 60px;
    margin-bottom: 100px;
    font-weight: bold;
    padding: 10px;
}

#buttons-container {
    border:1px solid greenyellow;
    display: flex;
    flex-direction: column;
}

#second-section {
    display: flex;
    justify-content: space-between;
}

#numbers, #operators, #options {
    border: 1px solid red;
}

#numbers > div > button, #operators > button {
    font-size: x-large;
    font-weight: bold;
}

#numbers {
    display: flex;
    flex-direction: column-reverse;
}

#operators {

    display: flex;
    flex-direction: column;

}



#options {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    margin-bottom: 50px;
}

#options > button {
    font-size: x-large;
    font-weight: bold;
}

button {
    background-color: rgb(24, 98, 181);
    width: 100px;
    height: 100px;
}
